#stickyFooter {
  height: 100%;
}

.forSticky {
  min-height: calc(100vh - 70px);
}

.row {
  margin-bottom: 0px !important;
}

.navBar {
  background-color: #737373 !important;
  box-shadow: none !important;
  height: 117px;
  opacity: 0.9;
}

/* .stickyContainer {
  margin-top: 101px;
} */
.page-footer {
  background-color: #737373;
}

.noMarginTop {
  margin-top: 0px;
}

.marginTop {
  margin-top: 24px;
}

.logoImg {
  width: 150px;
  height: auto;
  float: left;
}

.NavBtnRight {
  margin-top: 8px;
}
