#stickyFooter {
  height: 100%;
}

.forSticky {
  min-height: calc(100vh - 70px);
}

.row {
  margin-bottom: 0px !important;
}

.navBar {
  background-color: transparent !important;
}

/* .navBar h1 {
  color: black !important;
} */

.noMarginTop {
  margin-top: 0px;
}

.logoImg {
  width: 150px;
  height: auto;
  float: left;
}

.NavBtnRight {
  margin-top: 8px;
}

/* input[type=range] + .thumb.active .value {
  margin-top: 64px !important;
} */

